h2
 {background-color:rgb(73, 73, 73) ;     color:rgb(255, 255, 255)
    
}
h1{
    background-color:rgb(73, 73, 73); color:rgb(255, 255, 255)
}
h4{
    color:rgb(0, 160, 209)
}
h3{
    text-align:center;
    color:rgb(255,255,255)
}
h5{
    text-align:center;
    color:rgb(177,00,177)
}